<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla.html::head">
        <title th:text="${titulo}">Ejemplo Paypal</title>
    </head>
    <body class="container">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="6" style="text-align: center">Listado de Compras</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Factura</th>
                    <th>Comprador</th>
                    <th>Compra</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compra : ${lista}">
                    <td th:text="${compra.id}">id</td>
                    <td th:text="${compra.factura}">factura</td>
                    <td th:text="${compra.emailComprador}">emailComprador</td>
                    <td th:text="${compra.nombre}">nombre</td>
                    <td th:text="${compra.montoCompra}">montoCompra</td>
                    <td>Ver detalle</td>
                </tr>
            </tbody>
        </table>

        <!-- incluyendo la parte de javascript del template.        -->
        <div th:replace="plantilla.html::javascript">

        </div>
    </body>
</html>